.body
  .header
    .header__inner
      .header__main
        %h1.icon
          = link_to root_path do
            = image_tag  "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg",width:'134',height:'36'
        .search__box
          %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input#searchInput.searchBox--input{:name => "key", :placeholder => "キーワードから探す"}/
          %form.button_to{:action => "/?type=submit", :method => "post"}
            %button{:type => "submit"}
              .search__box__icon
                = link_to "#" do
                  = image_tag "/assets/icon-search-60a83ada85216fe00789cd16065281694d9a08948275fef83683fadcf131d84d.svg",width:'40',height:'30'
            %input{:name => "authenticity_token", :type => "hidden", :value => "OBHVNGwRNEzn3yc5ciRJpZnfmtUjnE/QO/hj6tnrRnJP89jhpZTfkQgysVVgo2r34ymB0rcGL/jiRedonj8dLA=="}/
        %ul.result__lists
      .lists
        %ul.lists__left
          %li.lists__left__item.lists__left__item--first
            %a#cat__btn{:href => "#"} カテゴリー
            .tree.display__none
              %ul.categoryTree
                %li.categoryTree--item
                  %a#1{:href => "#"} レディース
                %li.categoryTree--item
                  %a#2{:href => "#"} メンズ
                %li.categoryTree--item
                  %a#3{:href => "#"} ベビー・キッズ
                %li.categoryTree--item
                  %a#4{:href => "#"} インテリア・住まい・小物
                %li.categoryTree--item
                  %a#5{:href => "#"} 本・音楽・ゲーム
                %li.categoryTree--item
                  %a#6{:href => "#"} おもちゃ・ホビー・グッズ
                %li.categoryTree--item
                  %a#7{:href => "#"} コスメ・香水・美容
                %li.categoryTree--item
                  %a#8{:href => "#"} 家電・スマホ・カメラ
                %li.categoryTree--item
                  %a#9{:href => "#"} スポーツ・レジャー
                %li.categoryTree--item
                  %a#10{:href => "#"} ハンドメイド
                %li.categoryTree--item
                  %a#11{:href => "#"} チケット
                %li.categoryTree--item
                  %a#12{:href => "#"} 自動車・オートバイ
                %li.categoryTree--item
                  %a#13{:href => "#"} その他
          %li.lists__left__item
            %a#brand__btn{:href => "#"} ブランド
            %ul.brands__pulldown.display_none
        %ul.lists__right
          %li.lists__right__item.lists__right__item--login
            %a{:href => "#"} ログイン
          %li.lists__right__item.lists__right__item--new
            %a{:href => "#"} 新規会員登録
  .main
    .main__visual
      = image_tag "http://furima.tokyo/assets/bg-mainVisual-pict_pc-a1a4be0d864c29338b03d163957f9fd26b20f7c1fa0d05c17b603ec54d249ebe.jpg",width:'1300',height:'540'
      .main__visual__content
        %h2.main__visual__content--subtitle
          %br/
          人生を変えるフリマアプリ
        %p.main__visual__content--text
          FURIMAはだれでもかんたんに出品・購入できる
          %br/
          フリマアプリです
        .main__visual__content--btn
          = link_to "#" do
            = image_tag"http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",width:'180',height:'53'
          = link_to "#" do
            = image_tag"http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg",width:'180',height:'53'
  .picture
    .top__introduction
      .top__introduction--subtitle
        FURIMAが選ばれる3つの理由
        .subtitle__after 
      %ul.pic__lists
        %li.pic__list__left
          .pic__list__left__pict
            %span.number1
            = image_tag"http://furima.tokyo/assets/pict-reason-01-77b860b45f32923029756050dafc0f6df01a36675414b0f26f127c64a53baaea.jpg",width:300,height:'300'
          %h3.pic__list__left__text
            %span 3分ですぐに出品
          %p.pic__list__left__description
            スマホで入力するだけで簡単に出品できる！
        %li.pic__list__center
          .pic__list__center__pict
            %span.number2
            = image_tag "http://furima.tokyo/assets/pict-reason-02-3471b96ea7b52654510992e57dc05af07926de0836200059b7fa4ead05ee4d56.jpg",width:300,height:'300'
          %h3.pic__list__center__text
            %span シンプルで使いやすい
          %p.pic__list__center__description
            めんどくさい入力は必要なく、検索も購入もスムーズ！
        %li.pic__list__right
          .pic__list__right__pict
            %span.number3
            = image_tag "http://furima.tokyo/assets/pict-reason-03-1e3c743f3ba3db8c43987d2e257916a615aa8fc59c02bbc116f041a5580ec28f.jpg",width:300,height:'300'
          %h3.pic__list__right__text
            手数料
            %span 業界最安
          %p.pic__list__right__description
            最大3%でお得に出品&amp;購入！
    %section.top__middle__dl
      = image_tag  "http://furima.tokyo/assets/bg-topMiddleDl-pict-5042a3aa7eef6dd93330080028e3a781daf47c390c00a4fb5d7e7b06caae68c9.jpg",width:'100%',height:'400'
      .top__middle__dl__inner
        %h2.top__middle__dl__subtitle 会員数日本一位
        %p.top__middle__dl__text
          FURIMAは、フリマアプリで最も人気。
          %br/
          出品・購入回数も業界最多です！
          %br/
          ほしかったあの商品に出会えるかもしれません。
        .btn
          %a{:href => "#"}
            = image_tag"http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",width:'180',height:'53'
          %a{:href => "#"}
            = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg",width:'180',height:'53'
    %section.top__key__features
      %h2.head FURIMAの特徴
      .items
        %section.item
          %figure.item__img
            = image_tag "http://furima.tokyo/assets/icon-01-7f6abf70ea7deaed9ab5d8b6d5cb796250e3e292b9ecdc559ebe6492c31fdab8.svg",width:'200',height:'340'
          %h3.item__subtitle 簡単に売り買いできる
          %p.item__detail
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        %section.item
          %figure.item__img
            = image_tag "http://furima.tokyo/assets/icon-03-9c0d78266a316fec7b738dcf5c68dd987afb9655b13fd2cd5d30bcf09e827694.svg",width:'200',height:'340'
          %h3.item__subtitle 売上金は即日振込みに対応
          %p.item__detail
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        %section.item
          %figure.item__img
            = image_tag "http://furima.tokyo/assets/icon-04-c4052f85cd6e1f62ea8cac8c55277d7fa4bda971d924f8a2afe72eea6558fa85.svg",width:'200',height:'340'
          %h3.item__subtitle 様々な支払いに対応
          %p.item__detail
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    %section.pickup__container
      %h2.head ピックアップカテゴリー
      .productb_box
        .product__head
          %a{:href => "#"}
            %h3.title 新規投稿商品
        .product__lists
          .product__list
            %a{:href => "/products/8"}
              %figure.product__list--img
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG",width:'220',height:'150'
              .product__list--body
                %h3.name ee
                .details
                  %ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .product__list
            %a{:href => "/products/3"}
              %figure.product__list--img
                = image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png",width:'220',height:'150'
              .product__list--body
                %h3.name product3
                .details
                  %ul
                    %li 30000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .product__list
            %a{:href => "/products/2"}
              %figure.product__list--img
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png",width:'220',height:'150'
              .product__list--body
                %h3.name product2
                .details
                  %ul
                    %li 20000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .product__list
            %a{:href => "/products/1"}
              %figure.produc__list--img
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png",width:'220',height:'150'
              .product__list--body
                %h3.name product1
                .details
                  %ul
                    %li 10000円
                    %li
                      %i.fa.fa-star.likeIcon
                      1
                  %p (税込)
    %section.pickup__container
      %h2.head ピックアップブランド
      .product__box
        .product__head
          %a{:href => "#"}
            %h3.title アーカイバ
        .productLists
          .productList
            %a{:href => "/products/8"}
              %figure.productList--img
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG",width:'220',height:'150'
              .productList--body
                %h3.name ee
                .details
                  %ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .productList
            %a{:href => "/products/3"}
              %figure.productList--img
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png",width:'220',height:'150'
              .productList--body
                %h3.name product3
                .details
                  %ul
                    %li 30000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .productList
            %a{:href => "/products/2"}
              %figure.productList--img
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png",width:'220',height:'150'
              .productList--body
                %h3.name product2
                .details
                  %ul
                    %li 20000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .productList
            %a{:href => "/products/1"}
              %figure.productList--img
                ≈
              .productList--body
                %h3.name product1
                .details
                  %ul
                    %li 10000円
                    %li
                      %i"fa fa-star" aria-hidden="true"
                      1
                  %p (税込)
  .foto
    = image_tag "http://furima.tokyo/assets/bg-appBanner-pict-ce684a4c4d5fa2da43c30a3839923591af75a642a3a906ad975065771ef3d72f.jpg",width:'100%',height:'400'
    .foto__box
      .foto__title だれでもかんたん、人生を変えるフリマアプリ
      .foto__text 今すぐ無料ダウンロード！
      .foto__icon
        %a{:href => "#"}
          = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",width:'180',height:'53'
        %a{:href => "#"}
          = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg",width:'180',height:'53'
  .footer
    %ul.contents
      %li.content__left
        %h2.content__left__head FURIMAについて
        %ul
          %li
            %a{:href => "#"} 会社概要（運営会社）
          %li
            %a{:href => "#"} プライバシーポリシー
          %li
            %a{:href => "#"} FURIMA利用規約
          %li
            %a{:href => "#"} ポイントに関する特約
      %li.content__center
        %h2.content__center__head FURIMAを見る
        %ul
          %li
            %a{:href => "#"} カテゴリー一覧
          %li
            %a{:href => "#"} ブランド一覧
      %li.content__right
        %h2.content__right__head ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "#"} FURIMAガイド
          %li
            %a{:href => "#"} FURIMAロゴ利用ガイドライン
          %li
            %a{:href => "#"} お知らせ
    .footer__logo
      %a{:href => "/"}
        = image_tag "http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg",width:'160',height:'46'
    %p © FURIMA
  %a{:href => "#"}
    .purchase__btn
      %span.purchase__btn__text 出品する
      = image_tag "http://furima.tokyo/assets/icon_camera-968c5ebaa05319bf1e2ad7508f852dd712504a4d26a1930d8bd87ec03ebcc37a.svg",width:'50',height:'50'