.foto
  = image_tag "http://furima.tokyo/assets/bg-appBanner-pict-ce684a4c4d5fa2da43c30a3839923591af75a642a3a906ad975065771ef3d72f.jpg",width:'100%',height:'400'
  .foto__box
    .foto__box--title だれでもかんたん、人生を変えるフリマアプリ
    .foto__box--text 今すぐ無料ダウンロード！
    .foto__box--icon
      = link_to "#" do
        = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",width:'180',height:'53'
      = link_to "#" do
        = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg",width:'180',height:'53'
